<ion-view view-title="Recycle" name="recycle-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <p>Points:</p>
            <label class="item item-input">
                <input type="text" placeholder="" ng-model="data.points">
            </label>
        </div>
        <button class="button button-block energized-bg energized-border" ng-click="recycleBtn()">Add Points</button>
<!--        <button class="button button-block button-calm" ng-click="scanBarcode()">Scan</button>-->
    </ion-content>
</ion-view>
