<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon-off="ion-ios7-person" icon-on="ion-ios7-person-outline" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Recycle" icon-off="ion-ios7-star" icon-on="ion-ios7-star-outline" href="#/tab/recycle">
        <ion-nav-view name="tab-recycle"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Top 10" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/top10">
        <ion-nav-view name="tab-top10"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="About" icon-off="ion-ios7-information" icon-on="ion-ios7-information-outline" href="#/tab/about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

</ion-tabs>
